
h1 {
    color: red;
    margin-left: 100px;
}

#ahorcado {
    height: 290px;
    width: 235px;
    background-image: url('../images/sprite.jpg');
    border: 1px solid black;
}

section{
	margin-left: 100px;
}

.fallo0{
    background-position-x: 0;
}


.fallo1{
    background-position-x: -241px;
}

.fallo2{
    background-position-x: -482px;
}

.fallo3{
    background-position-x: 0;
}
.fallo4{
    background-position-x: 0;
}
.fallo5{
    background-position-x: 0;
}

.fallo6{
    background-position-x: 476px;
}

.fallo7{
    background-position-x: 0;
}